<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Cargar Material Design 3 y las fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Vincular al archivo CSS externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="importmap">
        {
          "imports": {
            "@material/web/": "https://esm.run/@material/web/"
          }
        }
    </script>
    <script type="module">
        import '@material/web/all.js';
        import { styles as typescaleStyles } from '@material/web/typography/md-typescale-styles.js';

        document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
</head>

<body>
    <!-- Menú de Navegación -->
    <nav>
        <ul>
            <li><md-filled-button onclick="window.location.href='{{ url_for('index') }}'">Inicio</md-filled-button></li>
            <li><md-filled-button onclick="window.location.href='{{ url_for('about') }}'">Sobre el Proyecto</md-filled-button></li>
            <li><md-filled-button onclick="window.location.href='{{ url_for('chatbot') }}'">Chatbot</md-filled-button></li>
        </ul>
    </nav>

    <!-- Imagen de portada -->
    <div class="portada-container">
        <img src="../static/portada.jpg" alt="Imagen de portada" class="portada">
        <!-- Encabezado encima de la imagen -->
        <div class="header-container">
            <h1 class="md-typescale-display-medium">Bienvenido a Nuestro Sitio</h1>
            <p class="md-typescale-body-medium">Aqui se realizó el proyecto de chatbot para la materia de "Aplicaciones Basadas en el Conocimiento utilizando modelos de lenguaje natural y bases de datos vectoriales".</p>
        </div>
    </div>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 Desarrollado por <a href="#">Luis Burbano, Sebastian Torres y Cesar Loor</a>. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
